@{
    
}
<div class="text-center">
    <h1 class="mb-4">Student App</h1>
    <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-primary" href="@Url.Action("Create", "Students")">Add Student</a>
        <a class="btn btn-secondary" href="@Url.Action("Export", "Students")">Export Students</a>
    </div>
</div>